GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-proAIzaSyC5UoZg1UU35CrwpWpWyUKCa4GHsiY22OY
GROQ_API_KEY=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
SUPABASE_URL=https://okjiptxufvhnunoankpg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ramlwdHh1ZnZobnVub2Fua3BnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NzM2NjYsImV4cCI6MjA4ODU0OTY2Nn0.Axzm9DuY8K1guHFG_62nLrXmQA2gKiNtKwxEYbhqPtQ
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ramlwdHh1ZnZobnVub2Fua3BnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjk3MzY2NiwiZXhwIjoyMDg4NTQ5NjY2fQ.Jlbn04usrdNWk8uZ13s61us6yFnxWJp-fmAVAzVwrMI
SECRET_KEY=Hjhdeivacdlfn23
